<!DOCTYPE html>
<html>
<head>
  <title>YearbookApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://fast.fonts.com/jsapi/ba6db687-8e16-4d23-8830-31ddf0cdf20c.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
